@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShopDBContext

<link href="~/css/Shop.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />
<div class="flex-container">
    <h1>Welcome to the Shopping Cart!</h1>

    @if (Convert.ToBoolean(Context.Session.GetString("UserInSession")) == true)
    {
        @foreach (Users user in @Model.Users)
        {
            if (user.UserName == Context.Session.GetString("User"))
            {
                var currentUser = user;

                <a>Current balance: $@Math.Round(Convert.ToDecimal(currentUser.Funds), 2)</a>
            }
        }
    }

    @if (Convert.ToBoolean(Context.Session.GetString("UserInSession")) == true)
    {
        <h5><a href="/Home/List">View Cart</a></h5>
    }
</div>
<div class="flex">


    @foreach (Items items in Model.Items)
    {

        <!--we have tr table row in the loop to make a new row for each row of data-->
    <div class="main-container">


        <img class="card-img detailimage" src="~/Images/@items.ImageUrl .jpg" />


        <p>Coffee: @items.Name</p>

        <p>Description: @items.Description</p>
        <p>Quantity: @items.Quantity</p>
        <p>Price: $@Math.Round(items.Price, 2)</p>
        <!--use Razor syntax if statement to access c# if statement-->
        <!--this if statement determines if the following html is displayed-->
        <!--we cast to bool-->
        @if (Convert.ToBoolean(Context.Session.GetString("UserInSession")) == true)


        {
            <button style="text-align:center" class="align-middle brown-border" name="Name" onclick="location.href='@Url.Action("Purchase", "Home", new { Price = items.Price, name = items.Name })'">Buy</button>
        }

    </div>
    }

   

</div>



